@page "/"
@namespace BethanysPieShopHRM.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bethany's Pie Shop HR</title>

    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">

    <link href="css/site.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/273d0585ea.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

    <link href="_content/BethanysPieShopHRM.ComponentsLibrary/leaflet/leaflet.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>

    <script src="_content/BethanysPieShopHRM.ComponentsLibrary/leaflet/leaflet.js"></script>
    <script src="_content/BethanysPieShopHRM.ComponentsLibrary/deliveryMap.js"></script>
</body>
</html>
