@page "/"

<h1 class="page-title">Welcome to Bethany's Pie Shop HRM!</h1>
<br />
<h3>Using this application, you can manage our wonderful staff working for us all over the world, bringing people the best pies ever!</h3>

