@page "/"

<div class="row"><div class="col-md-8"><h1 class="page-title">Welcome to Bethany's Pie Shop HRM!</h1></div></div>
<br />

<div class="row">
    <div class="col-md-8">
        <Announcements />
    </div>
    <div class="col-md-4">

    </div>
</div>
<div class="row">
    <div class="col-md-4">

    </div><div class="col-md-4">

    </div><div class="col-md-4">

    </div>
</div>
