
<div class="bg-light" id="sidebar-wrapper">
    <div class="sidebar-logo">
        <img class="img-responsive" id="logo" src="images/bethanylogo.png" />
    </div>
    <div class="profile">
        <div class="profile-bg">
            <img class="img-responsive" src="images/profilePicture.jpg" />
        </div>
        <div class="profile-picture">
            <img class="img-responsive circle account-photo" src="images/profilePicture.jpg" />
        </div>
    </div>
    <div class="menu list-group list-group-flush">
        <NavLink class="list-group-item list-group-item-action bg-light" href="/" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="list-group-item list-group-item-action bg-light" href="/employeeoverview">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Employees
        </NavLink>
        <NavLink class="list-group-item list-group-item-action bg-light" href="/employeeedit">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Add new employee
        </NavLink>
    </div>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
