@inherits EnumSelectInput

<div class="form-control-wrapper">
    <input class="form-control" @bind="@CurrentValue" />
    <div class="form-control-validation">
        <ValidationMessage For="@ValidationFor" />
    </div>
</div>
