<div class="widget">
    <h3>Notices</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Priority</th>
                <th scope="col">Date Posted</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Today is boss's appreciation day! Remind employees to thank their upline for all their support and hard work.</td>
                <td>Low</td>
                <td>10/10/2019</td>
            </tr>
            <tr>
                <td>Open enrollment for benefits is coming - make sure a reminder is communicated to all staff.</td>
                <td>High</td>
                <td>10/05/2019</td>
            </tr>
            <tr>
                <td>We won an award!  Our pie shops were recognized for their continued cleanliness by the American Pie Association.</td>
                <td>Low</td>
                <td>10/01/2019</td>
            </tr>
        </tbody>
    </table>
</div>